* {
    margin: 10px;
    padding: 0;
}

body {
    display: flex;
    color: aliceblue;
}

.box {
    border: darkcyan solid 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 900px;
    /* margin: 10px; */
    background-color: darkblue;
}

.choiceButton {
    width: 80px;
    
    height: 30px;
}

.choiceButton:hover {
    transform: scale(1.1);
    background-color: bisque;
    transition: transform 0.3s ease;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:cornflowerblue;
    height: 60px;
    width: 400px;
}